<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>NewsFeed</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <script src="~/Content/template/newsfeed/assets/js/jquery.min.js"></script>
    <script src="~/Content/template/newsfeed/assets/js/wow.min.js"></script>
    <script src="~/Content/template/newsfeed/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/template/newsfeed/assets/js/slick.min.js"></script>
    <script src="~/Content/template/newsfeed/assets/js/jquery.li-scroller.1.0.js"></script>
    <script src="~/Content/template/newsfeed/assets/js/jquery.newsTicker.min.js"></script>
    <script src="~/Content/template/newsfeed/assets/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/template/newsfeed/assets/js/custom.js"></script>
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
</head>
<body style="overflow: visible;">
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_top">
                        <div class="header_top_left" style="list-style-type: none;">
                            <ul class="top_nav">
                                <li><a href="/nganh-tin-hoc">Trang chủ</a></li>
                                <li><a href="#">Sinh viên</a></li>
                                <li><a href="#">Giáo viên</a></li>
                            </ul>
                        </div>
                        <div class="header_top_right">
                            <p>Friday, December 05, 2045</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_bottom">
                <img src="~/Content/upload/img/l.png" class="img-responsive" />
            </div>
        </div>
        @RenderBody()
        <footer id="footer">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInLeftBig" style="visibility: hidden; animation-name: none;">
                            <h2>Flickr Images</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInDown" style="visibility: hidden; animation-name: none;">
                            <h2>Tag</h2>
                            <ul class="tag_nav">
                                <li><a href="#">Games</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Life &amp; Style</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Photo</a></li>
                                <li><a href="#">Slider</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInRightBig" style="visibility: hidden; animation-name: none;">
                            <h2>Contact</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <address>
                                Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p class="copyright">Copyright © 2045 <a href="index.html">NewsFeed</a></p>
                <p class="developer">Developed By Wpfreeware</p>
            </div>
        </footer>
    </div>
</body>
</html>
