@model IEnumerable<Nganhtinhoc.Models.Thongbao>
@foreach (var i in Model)
{
    <div class="single_iteam">
        <a><img src="~/Content/upload/img/thongbao/@i.img" alt=""></a>
        <div class="slider_article">
            <h2><a class="slider_tittle" href="#" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@i.tieude</a></h2>
        </div>
    </div>
}