@model IEnumerable<Nganhtinhoc.Models.Tuyendung>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        @foreach (var i in Model)
        {
            <div class="col-lg-4 col-sm-4">
                <a href="/tuyen_dung/@i.meta"><img src="~/Content/upload/img/tuyendung/@i.img" class="img-thumbnail"/></a>
            </div>
        }
    </div>
</div>